.contactbgimg {
    background-image: url('../../../assets/contact us/breadcrumb-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn.style2 {
    background-color: var(--clr_pome);
    color: var(--clr_white);
}

.btn {
    display: inline-block;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
    transition: all .7s ease-in-out;
    position: relative;
    z-index: 1;
    border: 1px solid transparent;
    text-transform: capitalize;
    padding: 14px 35px;
    border-radius: 5px;
    color: var(--clr_white);
    overflow: hidden;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 600;
    --mdb-btn-padding-top: -3.4rem;
    --mdb-btn-padding-bottom: .5rem;
    --mdb-btn-border-width: 0;
    --mdb-btn-border-color: none;
    --mdb-btn-border-radius: .25rem;
    --mdb-btn-box-shadow: 0 4px 9px -4px rgba(0, 0, 0, .35);
    --mdb-btn-hover-box-shadow: 0 8px 9px -4px rgba(0, 0, 0, .15), 0 4px 18px 0 rgba(0, 0, 0, .1);
    --mdb-btn-focus-box-shadow: 0 8px 9px -4px rgba(0, 0, 0, .15), 0 4px 18px 0 rgba(0, 0, 0, .1);
    --mdb-btn-active-box-shadow: 0 8px 9px -4px rgba(0, 0, 0, .15), 0 4px 18px 0 rgba(0, 0, 0, .1);
    vertical-align: bottom;
    box-shadow: var(--mdb-btn-box-shadow);
    --mdb-btn-padding-x: 1.5rem;
    --mdb-btn-padding-y: .375rem;
    --mdb-btn-font-family: ;
    --mdb-btn-font-size: .75rem;
    --mdb-btn-font-weight: 500;
    --mdb-btn-line-height: 1.5;
    --mdb-btn-color: #4f4f4f;
    --mdb-btn-bg: transparent;  
    --mdb-btn-hover-border-color: transparent;
    --mdb-btn-disabled-opacity: .65;
    font-family: var(--mdb-btn-font-family);
    user-select: none;
}