.contactbgimg {
    background-image: url('../../../assets/contact us/breadcrumb-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn.style2 {
    background-color: var(--clr_pome);
    color: var(--clr_white);
}