.ChatBox-container {
    /* background: var(--cardColor); */
    border-radius: 1rem;
    display: grid;
    grid-template-rows: 16vh 75vh 5vh;
}

.chat-header {
    padding: 1rem 1rem 0rem 1rem;
    display: flex;
    flex-direction: column;
}

.chat-body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.5rem;
    height: 570px;
    /* overflow: scroll; */
}

.message {
    color: black;
    padding: 0.7rem;
    border: 1px solid;
    border-radius: 1rem 1rem 1rem 0;
    max-width: 28rem;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.message>span:nth-child(2) {
    font-size: 0.7rem;
    color: var(--textColor);
    align-self: end;
}

.own {
    justify-self: right;
    justify-content: end;
    align-self: flex-end;
    border-radius: 1rem 1rem 0 1rem;
}



/* .chat-sender {
    background: rgb(127, 110, 110);
    display: flex;
    justify-content: space-between;
    height: 3.5rem;
    align-items: center;
    gap: 1rem;
    padding: 0.8rem;
    border-radius: 1rem;
    align-self: end;
}

.chat-sender>input {
    height: 70%;
    background-color: rgb(236, 236, 236);
    border-radius: 0.5rem;
    border: none;
    outline: none;
    flex: 1;
    font-size: 14px;
    padding: 0px 15px 0px 15px;
}


.chat-sender>div {
    height: 50%;
    padding: 0px 15px 0px 15px;
} */