*{
    font-family: 'Work Sans', sans-serif;  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav{
  background-color: #FFFFFF;
  margin-bottom: 70px;
}
.nav-container{
    
  min-height: 50px;
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.nav-logo{
margin-left: 50px;
padding-left: 20px;
width: 50%;
}
.nav-logo img{
width: 40px;
}
.nav-detail{
text-align: center;
font-size: 26px;
font-weight: 700;

}
.game{
  color: #FF42A5; 
}
.nav-item {
    justify-content: space-evenly;
    width: 50%;
    display: flex;
    align-items: center;
}
.nav-item a{
    text-decoration: none;
    color: #3C354F;
    font-size: 15px;
    font-weight: 500;

}
.follow-btn{
  background-color:lightgray;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  align-items: center;
  padding-bottom: 13px;
  padding-top: 10px;
  cursor: pointer;
  
 
  
}
.follow-icon{
  width: 25px;
  padding-left: 6px;
  
}

.banner-container{
 background-image: url(./images/Group\ 14.png);
 background-repeat: no-repeat;
 
  max-width: 1080px;
justify-content: space-between;
margin: 0 auto;
  display: flex;
 ;
 
}
.banner-text{
 
  width: 50%;
margin-left: 50px;
margin-top: 50px;

}
.banner-title{
  color: #0B0223;
  font-size: 40px;
  font-weight: 600;
 
 margin: 0;
 padding: 0;

  
}
.banner-detail {
background-image: linear-gradient(to bottom,#F948B2, #8758F1);
color: transparent;
-webkit-background-clip: text;

font-size: 65px;
padding-top: 30px;
margin-top: 0;
font-weight: 800;


}
.icon-container{
  margin-top: 0;
  margin-bottom: 20px;
}
.icon{
  color: #534C64;
  padding-top: 0;
font-size: 17px;
padding-bottom: 10px;
font-weight: 500;

}
.banner-img-container{

width: 50%;
}
.banner-img{
  width: 80%;
  
 
}
.pink-btn{
background-color:#F948B2 ;
color: #FFF;
font-size: 10px;
font-weight: 600;
border: none;
border-radius: 48px;
padding: 08px 20px;
text-align: center;
margin-right: 6px;
cursor: pointer;
}
.sky-btn{
background-color: #4EC5F7;
color: #FFF;
font-size: 10px;
font-weight: 600;
border: none;
border-radius: 48px;
padding: 08px 20px;
text-align: center;
cursor: pointer;

}
.online-game-tile{
  color: #0B0223;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  margin-top: 60px;
}
.game-title{
  background-image: linear-gradient(to bottom,#F948B2, #8758F1);
color: transparent;
-webkit-background-clip: text;
}
.online-game-detail{
   margin-bottom: 50px;
    color: #534C64;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}
.game-section{
  display: grid;
 grid-template-columns: repeat(4, 1fr);

  max-width: 1080px;
  gap: 10px;
  margin: 0 auto;
 
  
}
.video-container{
position: relative;

padding: 10px;


}
.video-container:hover .game-overlay{
  display: block;
  
}
.video-container:hover{
  filter: brightness(40%);
}
.game-img{
  width: 100%;

}
.game-detail{
  color: #534C64;
 text-align: center;
  font-size: 14px;
  font-weight: 500;
  
}
.play-section{
  margin-top: 55px;

max-width: 1080px;
margin: 0 auto;
min-height: 200px;
margin-top: 50px;
}
.play-section-container{
display: flex;
justify-content: space-between;

}
.play-img{
width:40%;

position: relative;
}
.play-img > img{
  width: 100%;
}
.play-img-under{
position: absolute;
width: 43%;
bottom: -40px;
right: -30px;
}
.play-img-under > img {
  width: 100%;

}
.game-overlay{
  text-align: center;
  position: absolute;
  top: 35%;
  left: 35%;
  display: none;


}

.game-overlay > p{
  color: #F948B2;
}

  
  


.play-text{
width: 50%;

margin-top: 150px;


}
.play-detail{
padding-bottom: 20px;
text-align: right;

font-size: 30px;
font-style: normal;
font-weight: 700;

}
.play-msg{
  text-align: center;
  color: #534C64;
text-align: right;

font-size: 18px;

font-weight: 400;

}
.btn-section{
  
  padding: 5px;
display: grid;
grid-template-columns: repeat(5, 1fr);
max-width: 1080px;

margin: 0 auto;
margin-top: 120px;
gap: 10px;
}
.btn-one{
display: flex;
text-align: center;
align-items: center;

gap: 10px;


background-color: aliceblue;
border-radius: 50px;

}
.btn-image{
  width: 40px;
}
.btn-detail{
  color: #0B0223;
  font-size: 10px;
  font-weight: 600;
  cursor: pointer;
  
}
.btn-one:hover {
  border: 2px solid #F948B2;
  cursor: pointer;
  
}
.btn-detail:hover {
  color: #F948B2;
  cursor: pointer;
}
.foot{
  background-color: black;
  color: white;
  width: 100%;
  height: 350px;
  margin-top: 80px;
  padding-top: 40px;
 
}
.foot-logo{
  width: 50px;

  
}
.foot-icon-title{
  text-align: center;
 margin-bottom: 50px;
}
.foot-title{
  color: #FFF;
list-style-type: none;
display: grid;
grid-template-columns: repeat(6, 100px);
justify-content: center;
row-gap: 20px;
margin-left: 60px;
font-size: 12px;

font-weight: 400;

}
.foot-logo-title{
  padding-bottom: 30px;
}
.foot-img{
  display: grid;
  grid-template-columns: repeat(3, 100px);
  list-style-type: none;
  justify-content: center;
  padding-top: 20px;
}
.foot-detail{
  color: rgba(255, 255, 255, 0.60);
padding-top: 30px;
display: grid;
grid-template-columns: repeat(4,100px);
list-style-type: none;
font-size: 7px;
justify-content: center;
font-weight: 500;

}
.foot-end{
  color: rgba(255, 255, 255, 0.60);
  padding-top: 30px;
  font-size: 7px;
  justify-content: center;
  font-weight: 500;
}