/* Navbar CSS starts here */
.active {
  font-size: 18px;
  color: #002172 !important;
  font-weight: 600;
}

.navAfter.active::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #002172;
  position: absolute;
  left: 0;
  top: 22px;
  font-size: 16px;
  transition: all linear 0.3s;
}

.navAfter {
  min-height: 100%;
}

.navAfter::after {
  content: "";
  width: 0%;
  height: 1px;
  background-color: #e33226;
  position: absolute;
  left: 0;
  top: 22px;
  font-size: 16px;
  transition: all linear 0.3s;
}

.navAfter:hover:after {
  width: 100%;
}

.active:hover:after {
  width: 0%;
}

/* .navAfter{
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
} */

.navAfter:hover {
  color: #e33226;
}


@keyframes jump {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
  }

  60% {
    transform: translateY(-10px);
  }
}

.animate-jump {
  animation: jump 1s ease;
}


/* .jumping {
    transform: translateY(-20px);
  } */


/* Navbar Dropdown [Other] menu animated underline */
.dropAfter {
  min-height: 100%;
}

.dropAfter::after {
  content: "";
  width: 0%;
  height: 1px;
  background-color: #e33226;
  position: absolute;
  left: 0;
  top: 42px;
  font-size: 16px;
  transition: all linear 0.3s;
}

.dropAfter:hover:after {
  width: 100%;
}

.active:hover:after {
  width: 0%;
}

.dropAfter:hover {
  color: #e33226;
}

/* Navbar Dropdown shadow */
.dropdown .menu {
  box-shadow: 0px -1px 17px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px -1px 17px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -1px 17px -3px rgba(0, 0, 0, 0.75);
}


.navMarker {
  width: 40px !important;
  border: none !important;
}

summary {
  max-height: 48px !important;
}

.navMarker img {
  max-height: 48px !important;
}


.resNavCSS .navAfter {
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

.resNavCSS .navAfter.active,
.resNavDrop .navAfter.active {
  color: #e33226 !important;
}

.resNavCSS .navAfter.active::before,
.resNavDrop .navAfter.active::before {
  content: "";
  width: 0%;
  height: 1px;
  background-color: #002172;
  position: absolute;
  left: 0;
  top: 35px;
  font-size: 16px;
  transition: all linear 0.3s;
}

.resNavCSS .navAfter::after {
  content: "";
  width: 0%;
  height: 1px;
  background-color: #e33226;
  position: absolute;
  left: 0;
  top: 35px;
  font-size: 16px;
  transition: all linear 0.3s;
}

.resNavDrop .navAfter::after {
  content: "";
  width: 0%;
  height: 1px;
  background-color: #e33226;
  position: absolute;
  left: 0;
  top: 25px;
  font-size: 16px;
  transition: all linear 0.3s;
}