.banner {
    position: relative;
    overflow: hidden;
    height: 500px;
  
 
  
  }
.floating {
    position: absolute;
    animation: floatAnimation 1.5s infinite ease-in-out;
  }
  
  @keyframes floatAnimation {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-40px);
    }
  }