/* banner animation code made by sadia */



/* .bannerForAnimation {
    position: relative;
    overflow: hidden;
    height: 500px;
  
 
  
  } */
  /* for floting img animation by Sadia */
.floatingImgArrow {
    position: absolute;
    animation: floatAnimation 2.5s infinite ease-in-out;
  }
  
  @keyframes floatAnimation {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }